<!DOCTYPE html>
<html>
  <head>
    <title>RobustIRC CAPTCHA</title>
	<style type="text/css">
{{ template "font.css" }}
body {
	font-family: "Open Sans";
}

#content {
	text-align: center;
}

#content > * {
	margin-left:auto;
	margin-right:auto
}
	</style>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script type="text/javascript">
function onload() {
	document.getElementById('challenge').value = window.location.hash.substr(1);
}

function solved() {
	document.getElementById('form').submit();
}
	</script>
  </head>
  <body onload="onload()">
    <noscript>
      <p>You need to enable JavaScript for this page.</p>
    </noscript>
    {{ if ne .Msg "" }}
      <p style="text-width: bold">
	  {{ .Msg }}
	  </p>
    {{ end }}
    <div id="content">
	<p>
	Sorry for the inconvenience!
	</p>
	<p>
	In order to protect our IRC network from spammers,<br>
	solving a CAPTCHA is currently required to log in.
	</p>
	<p>
	Please solve the following CAPTCHA:
	</p>
    <form action="/submit" method="POST" id="form" style="width: 304px">
	  <input type="hidden" name="challenge" id="challenge">
      <div class="g-recaptcha" data-sitekey="{{ .SiteKey }}" data-callback="solved"></div>
    </form>
	</div>
  </body>
</html>
